* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	// position: relative;
	font-family: 'Poppins', sans-serif !important;
	font-weight: 400 !important;
	color: $main-text-color;
	font-size: 1.063rem; // 17px
	outline: 0;
	overflow-y: hidden;
}

a,
span,
i,
img,
.preloader,
.border-anim,
.border-anim::after,
.card-set,
.navbar,
.header-subtitle,
.custom-btn,
.isotope-item,
.item-img,
.item-overlay,
.item-overlay-desc,
.item-btn {
	transition: 1.2s cubic-bezier(0.17, 0.85, 0.438, 0.99);
}

.mobile__menu--container,
.nav-item::after,
.footer-contact-link::after {
	transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

a {
	text-decoration: none;
	background-color: transparent;
}

ul {
	list-style: none;
}

.bg-gradient-3 {
	background: $gradient--3;
}

.preloader {
	display: grid;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	z-index: 9999;
	background-color: #fff;

	img {
		justify-self: center;
		align-self: center;
		height: 95px;
	}
}

// --------------- NAVIGATION ----------------- //

.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	padding-top: 0;
	padding-bottom: 0;
	min-height: 100px;
}

.top-header {
	position: relative;
	z-index: 999;

	.sticky {
		background-color: #fff;
		box-shadow: 0 4px 6px 0 rgb(12 0 46 / 8%);
		min-height: 70px;
	}
}

.navbar-brand {
	img {
		max-width: 100px;
	}
}

.navbar {
	.custom-btn {
		font-size: 0.95rem !important;
		color: #fff !important;
		font-weight: 400;

		&:focus,
		&:hover {
			color: #fff;
		}
	}
	&.sticky {
		text-align: center;
	}
}

.navbar-light {
	.navbar-nav {
		cursor: none;
		.nav-link {
			cursor: pointer;
			position: relative;
			width: max-content;
			font-weight: 600;
			font-size: 16px;
			color: $nav-link;
			font-family: 'Poppins', sans-serif;
			font-weight: 500;
			padding: 0 25px;
			line-height: 48px;
		}

		.nav-item {
			position: relative;
			height: 100%;

			&:not(:last-child)::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 25%;
				right: 0;
				width: 50%;
				height: 0.5px;
				background-color: currentColor;

				transform: scaleX(0);
				transform-origin: right;
			}

			&:hover::after {
				transform: scaleX(1);
				transform-origin: left;
			}
		}
	}
}

.navbar-light {
	.navbar-toggler {
		color: $nav-link;
		border-color: transparent;

		&:focus {
			border-color: transparent;
			outline: transparent;
		}

		.mobile__menu--icon {
			font-size: 1.5rem;
		}
	}
}

.mobile__menu--overlay {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.589);
}

// --------------- MOBILE NAVIGATION ----------------- //

.mobile__menu--container {
	position: fixed;
	z-index: 999;
	top: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 200px;
	font-weight: 500;
	text-align: center;
	background-color: $mobile-menu-bg;

	transform: translateX(-100%);

	.mobile__menu--links {
		padding-left: 0;

		.link-item {
			padding: 20px 0;
			border-bottom: 1px solid rgba(56, 56, 56, 0.486);
			cursor: pointer;
		}
	}

	.mobile__menu--title {
		background-color: #fff;
		color: #000;
	}
}

.mobile__menu--download {
	color: $hot-pink;
}

// --------------- HERO SECTION ----------------- //

.hero-section {
	display: grid;
	align-items: center;
}

.hero-bg {
	position: relative;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;

	background: url('../img/hero-shape.svg'), $light-pink;
	background-position: center center, center center;
	background-size: cover, cover;
	background-repeat: no-repeat, no-repeat;

	.header {
		margin-bottom: 46px;
	}

	.header-title {
		background-image: $gradient;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;

		font-weight: 800;
		font-size: 5.85rem;
		letter-spacing: -3px;
	}

	.header-subtitle {
		color: $dark-blue;
	}

	a {
		text-decoration: none;

		&:hover {
			color: #fff;
		}
	}
}

.btn-main {
	font-size: 1rem;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	color: #fff;

	padding: 0 32px;
	line-height: 56px;
	text-align: center;
	background-color: $hot-pink--2;
	border: none;
	border-radius: 100px;
	position: relative;
	display: block;

	i {
		font-size: 0.85rem;
	}
}

.btn-lg {
	background: $gradient--btn;
	box-shadow: $box-shadow;
}

.btn-lg-2 {
	background: $gradient--btn-2;
	box-shadow: $box-shadow;
}

.my-projects-btn {
	i {
		animation: arrowanim 2s infinite;
	}
}

.lnk {
	position: relative;
	overflow: hidden;

	&:hover {
		span.circle {
			top: -10%;
			right: -80px;
		}
	}
}

span.circle {
	background: rgba(255, 255, 255, 0.2);
	display: block;
	position: absolute;
	top: -10%;
	right: -130px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.main-btns {
	grid-template-columns: 1fr 1fr;
	width: max-content;
	margin: 0 auto;
}

// --------------- ABOUT SECTION ----------------- //

.about-section {
	p {
		line-height: 1.7;
		width: 80%;
		// text-align: justify;
	}
}

.follow-label {
	display: flex;

	h6 {
		margin: 0 50px 0 0;
		text-transform: capitalize;
		font-weight: 600;
		color: $dark-blue;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: 38%;
			right: -38px;
			width: 30px;
			height: 1px;
			background: $main-text-color;
		}
	}

	i {
		color: $main-text-color;
		margin-right: 15px;
		font-size: 1.3rem;
		cursor: pointer;
		position: relative;
		bottom: 2px;

		&:hover {
			color: $hot-pink;
			transform: translateY(-3px);
		}
	}
}

.common-heading {
	color: $dark-blue;
	font-size: 2.2rem;
	font-weight: 600;
}

.tech-block {
	background: #fff;
	text-align: center;
	background-size: 200%;
	background-position: top right;
	background-repeat: no-repeat;
	padding: 50px 20px;
	margin: 0;
	position: relative;
	border: 1px solid #d4f0ff;
	border-radius: 8px;
	box-shadow: $card-shadow;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		width: 0%;
		bottom: 0;
		height: 4px;
		background: -webkit-linear-gradient(-45deg, #fc00c7 0, #1c4efd 54%, #00aded 100%);
		background: $gradient--4;
	}
}

.card-set {
	position: relative;
	z-index: 5;
	overflow: hidden;

	h4 {
		color: $dark-blue;
		font-weight: 600;
	}
}

.border-anim {
	&:hover {
		transform: translateY(-7.5px);

		&:after {
			width: 100%;
			overflow: hidden;
		}
	}
}

.tech-icon {
	width: 80px;
	margin: 0 auto 30px;
}

.tech-list {
	text-align: center;
	list-style: none;
	padding-left: 0px;

	li {
		padding-top: 4px;
	}
}

// --------------- PROJECTS SECTION ----------------- //

.projects-section {
	background-color: #fff;

	&::before {
		content: '';
		background: url('../img/dot-pattern.png');
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		background-repeat: repeat;
		height: 400px;
		background-size: auto;
		// opacity: 0.7;
	}

	h2 {
		position: relative;
		z-index: 1;
	}
}

.isotope-item {
	position: relative;
}

.item-image {
	position: relative;
	display: block;
	width: 100%;
	border-radius: 8px;
	overflow: hidden;
	background: #f3f9ff;
	box-shadow: $card-shadow;

	&:focus,
	&:hover {
		img {
			transform: scale(1.05);
		}
		.item-overlay {
			opacity: 1;
			visibility: visible;
		}
	}

	img {
		max-width: 100%;
	}

	.item-overlay {
		display: grid;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		text-align: center;
		width: 100%;
		padding: 30px 35px;
		background: $gradient;
		color: #fff;
	}

	.item-overlay-desc,
	.item-overlay-tech {
		font-size: 1.1rem;
		line-height: 1.65;
		font-weight: 500;
	}
}

.item-btn-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: max-content;
	margin: 0 auto;

	column-gap: 15px;
}

.item-btn {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	font-size: 1rem;
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 100px;
	font-weight: 600;
	align-self: center;

	&:hover {
		color: $hot-pink;
		background-color: #fff;
	}

	i {
		padding-left: 5px;
		font-size: 1rem;
	}
}

.item-info {
	padding: 20px 0 0;

	h4 {
		color: $dark-blue;
		font-size: 1.375rem;
		line-height: 32px;
		font-weight: 600;
		margin: 0 0 10px;
	}

	p {
		font-size: 1.063rem;
		line-height: 28px;
	}
}

.item-overlay-list {
	padding-left: 0;
	margin-top: -18px;
	margin-bottom: 16px;
	display: block;
	font-weight: 500;

	li {
		display: inline;

		&:not(:last-child)::after {
			content: '\2022';
			position: relative;
			top: 2px;
			font-size: 1.5rem;
			padding: 0px 0px 0 5px;
		}
	}
}

// --------------- CONTACT SECTION ----------------- //

footer {
	position: relative;
}

.footer-contact {
	margin-top: 100px;

	.footer-contact-link {
		position: relative;
		color: $hot-pink;

		&:after {
			content: '';
			position: absolute;
			bottom: -5px;
			right: 0;
			width: 100%;
			height: 0.5px;
			background-color: currentColor;

			transform: scaleX(0);
			transform-origin: right;
		}

		&:hover::after {
			transform: scaleX(1);
			transform-origin: left;
		}
	}
}

.footer-social {
	margin-top: 70px;
	padding: 20px 0;
	border-top: 1px solid lighten($main-text-color, 40%);

	i {
		color: $main-text-color;
		display: inline-block;
		margin: 30px 0;
		font-size: 1.75rem;

		&:hover {
			color: $hot-pink;
			transform: translateY(-5px);
		}
	}
	.links {
		display: grid;
		grid-template-columns: repeat(3, 100px);
		justify-content: center;
		place-items: center;
	}
}
