$main-text-color: #6a6a90;
$light-pink: #ffd6d6;
$dark-blue: #050748;
$nav-link: #0a2233;
$hot-pink: #e60072;
$hot-pink--2: #ff1f8e;
$mobile-menu-bg: hsl(0, 0%, 5%);

$gradient: linear-gradient(45deg, hsl(343, 100%, 61%) 0, #ff3870 50%, #c300c3 100%);
$gradient--2: linear-gradient(to top, #e2f3ff 0, #fffbef 100%);
$gradient--3: linear-gradient(to bottom, #e2f3ff 0, #fffbef 100%);
$gradient--4: linear-gradient(135deg, #9100ff 0, #3663ff 54%, #00e2ff 100%);
$gradient--btn: linear-gradient(to right, #ffbd84 0, #ff1f8e 100%);
$gradient--btn-2: linear-gradient(to right, #f92c8b 0, #b02cd6 100%);

$card-shadow: 0 3.4px 2.7px -30px rgb(0 0 0 / 6%), 0 8.2px 8.9px -30px rgb(0 0 0 / 7%), 0 25px 40px -30px rgb(0 0 0 / 20%);
$box-shadow: 0 10px 15px 0 rgb(56 0 189 / 20%);
